@model List<Projeler>
@{
    ViewData["Title"] = "Projeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="bg-white lg:rounded-2xl dark:bg-[#111111]">
    <div class="container px-4 sm:px-5 md:px-10 lg:px-[60px]">
        <div class="pb-12">
            <h2 class="after-effect after:left-32 mt-12 lg:mt-0">Projeler</h2>
            <div class="grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 mt-[30px] grid gap-x-10 gap-y-7 mb-6">
                <!-- blog items one start -->
                @foreach (var i in Model)
                {
                    <div class="p-5 rounded-lg mb-2 h-full bg-[#fcf4ff] dark:bg-transparent dark:border-[#212425] dark:border-2">
                        <div class="overflow-hidden rounded-lg">
                            <a href="#@i.Id" rel="modal:open">
                                <img class="rounded-lg w-full cursor-pointer transition duration-200 ease-in-out transform hover:scale-110"
                                 src="@i.ProjeResimYol" alt="blog image" />
                            </a>
                        </div>
                      @*  <div class="flex mt-4 text-tiny text-gray-lite dark:text-[#A6A6A6]">
                            <span>@i.</span>
                            <span class="dot-icon">Inspiration</span>
                        </div>*@
                        <h3 class="text-lg font-medium dark:text-white duration-300 transition cursor-pointer mt-3 pr-4 hover:text-[#FA5252] dark:hover:text-[#FA5252]">
                            <a href="#@i.Id" rel="modal:open">@i.ProjeAdi</a>
                        </h3>
                    </div>
                    <div id="@i.Id" class="modal-container modal">
                        <div class="dark:scrollbarDark scrollbarLight overflow-y-scroll max-h-[60vh] lg:max-h-[80vh]">
                            <div class="pr-3 pb-2">
                                <img class="w-full md:h-[450px] object-cover rounded-xl mt-6" src="@i.ProjeResimYol"
                                 alt="blog image" />
                             @*   <div class="flex mt-4 text-tiny text-black dark:text-white">
                                    <span>@i</span>
                                    <span class="dot-icon">Inspiration</span>
                                </div>*@
                                <h2 class="dark:text-white sm:text-3xl mt-2 font-medium">
                                    @i.ProjeAdi
                                </h2>
                                <p class="dark:text-white font-normal text-[15px] sm:text-sm my-4">
                                   @i.ProjeIcerik
                                </p>
                               
                            </div>
                        </div>
                        <a href="#close-modal" rel="modal:close" class="close bg-close-light dark:bg-close-dark ">Kapat</a>
                    </div>
                }
            </div>
        </div>
    </div>

</section>



<!--=== js ===-->
<script src="~/kisisel/js/vendor/jquary.min.js"></script>
<script src="~/kisisel/js/vendor/jquery.modal.min.js"></script>
<!--=== main js ===-->
<script src="~/kisisel/js/main.js"></script>

